body {
    background-color: #252525;
}

#title {
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.drum-kit{
    height: 600px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.drumButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 15px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid black;
    padding-top: 30px;
    cursor: pointer;
}

.drumButton:hover{
    /* make random? */
    background-color: grey;
}

.drumButton.active {
    animation: flash 0.2s;
}

@keyframes flash {
    0% {background-color: transparent;}
    100% {background-color: gray; scale: 1.5;}
    
}